<a href="/">Home</a>

<h3>Create New Post</h3>

<div>{{errorMsg}}</div>

<form action="/gallery" method="post">
    Description: <input type="text" name="description"><br>
    URL: <input type="text" name="link"><br>
    <input type="submit" value="Submit New Post">