<a href="/gallery">Home</a>
<a href="/login">Login</a>
<h3>Please Register as a user:</h3>

{{message}}

<form action="/register" method="POST">
    <label for="username">Username:</label><br />
    <input type="text" name="username" />

    <br /><br />

    <label for="password">Password:</label><br />
    <input type="password" name="password" />

    <br /><br />

    <button>Submit</button>
</form>